@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  background: #D0D9DC;
  color: white;
  overscroll-behavior-y: contain;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; }